.cta {
  background-color: $primary-color;
  color: $light;

  .container {
    padding: 60px;

    img {
      margin: auto;
      margin-right: 120px;
      min-width: 200px;
      max-width: 600px;
      height: auto;
      width: 100%;
    }

    .cta-content {
      margin: 0 auto;
      margin-left: 0;

      p {
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 620px) {
  .cta {
    .container {
      padding: 0px;
      padding-top: 60px;
      padding-bottom: 60px;
      flex-direction: column;
      flex-flow: column-reverse;

      img {
        margin-top: 60px;
      }

      .cta-content {
        p {
          margin: 40px 0;
        }

        .buttons {
          display: flex;
        }

        button {
          margin-right: 10px;
          width: 50%;

          &.hollow {
            margin-right: 0;
          }
        }
      }
    }
  }
}
