.about {
  text-align: center;
  flex-direction: column;
  height: 120vh;
  h2 {
    margin-bottom: 16px;
  }
  p {
    color: $red;
    margin-bottom: 16px;
  }
  hr {
    width: 80px;
    border: none;
    border-bottom: 4px solid $light-gray;
  }
  .content {
    position: relative;
    margin: 50px auto 50px auto;
    .intro {
      flex: 1;
    }
    .icons {
      flex: 1;
      .icon {
        position: relative;
        flex-direction: column;
        width: 200px;
        min-width: 160px;
        height: 160px;
        margin: 0 30px;
        img {
          width: 160px;
          height: auto;
        }
        .arrow {
          position: absolute;
          top: 0%;
          left: 0;
          transform: translate(-60%, -200%) rotate(55deg);
          width: 100px;
        }
        .dash {
          position: absolute;
          transform: translate(-20%, 450%) scale(0.5, 0.5);
        }
        .dash-heart {
          transform: translate(-85%, -25%) scale(4, 4);
        }
        h4 {
          text-align: center;
          width: 100%;
          margin: 20px 0;
        }
        p {
          color: $dark-gray;
          .red-text {
            a {
              color: $red;
            }
          }
        }
      }
      .icon-heart {
        p,
        h4 {
          position: relative;
          left: -160px;
          top: 120px;
        }
      }
    }
    .video {
      width: 400px;
      transform: translate(10%, 60%);
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .about {
    padding-top: 40px;
    width: 100%;

    .content {
      margin: 0 ;
      padding-top: 40px;

      .icons {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 70%;

        .icon {

          .arrow {
            display: none;
          }

          .icon-heart {
            display: none;
          }
        };
      }

      .video {
        width: 100%;
        margin: auto;
        margin-left: 0;
        transform: none;
        padding-top: 60px;
      }
    }
  }
}
