.footer {
  background-color: $light-gray;
  padding-top: 40px;
  margin-top: 120px;

  .container {
    .info {
      flex: 1;
      flex-direction: column;
      max-width: 50%;

      img {
        width: 120px;
        margin-bottom: 20px;
        flex: 1;
      }

      p {
        flex: 1;
        margin-bottom: 20px;
        width: 60%;
        color: $dark-gray;
      }

      .social-icons {
        flex: 1;

        a {
          color: $dark-blue;

          svg {
            font-size: 24px;
            margin-right: 20px;
          }
        }
      }
    }

    .company-links {
      flex: 1;
      max-width: 20%;

      h4 {
        margin-bottom: 20px;
      }

      .links-container {
        flex-direction: column;

        a {
          color: $dark-gray;
          margin-bottom: 20px;
        }
      }
    }

    .charities {
      flex: 1;
      max-width: 20%;

      h4 {
        margin-bottom: 20px;
      }

      .links-container {
        flex-direction: column;

        a {
          color: $dark-gray;
          margin-bottom: 20px;
        }
      }
    }
  }

  .copyright {
    margin-top: 60px;
    padding-bottom: 20px;
    text-align: justify;
    align-items: center;
    justify-content: flex-start;

    a {
      color: $dark-gray;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    .container {
      flex-direction: column;

      .info {
        margin: 0;
        max-width: 100%;

        p {
          width: 100%;
        }
      }

      .company-links,
      .charities {
        padding-top: 40px;
        max-width: 100%;

        .links-container {
          a {
            max-width: 100%;
          }
        }
      }

      .charities {
        .links-container {
          a:nth-child(2) {
            margin-bottom: 0;
          }
        }
      }
    }

    .copyright {
      flex-direction: column;
      text-align: left;
      align-items: flex-start;

      p {
        padding-bottom: 10px;
        max-width: 100%;
      }

      a {
        max-width: 100%;
        padding: 10px 0;
      }
    }
  }
}
