@import './navbar/Navbar.scss';

header {
  background-color: $primary-color;
}
.curved-background {
  z-index: -1;
  background-color: $primary-color;
  position: relative;
  bottom: 50px;
  height: 100px;
  width: 100%;
  -webkit-clip-path: ellipse(60% 50% at 50% 50%);
  clip-path: ellipse(60% 50% at 50% 50%);
}

@media (max-width: 480px) {
  header {
    padding-bottom: 40px;
  }

  .curved-background {
    display: none;
  }
}
