.searchbar {
  form {
    input {
      height: 60px;
      border: none;
      border-left: 1px solid $gray;
      width: 16%;
      max-width: 400px;
      padding-left: 20px;
      font-weight: 600;

      &::placeholder {
        color: $dark;
      }
    }

    :nth-child(1) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    button {
      width: 60px;
      min-width: 60px;
      min-height: 62px;
      position: relative;
      right: 25px;
      border-radius: 20px;
      border: none;
      background-color: $red;
      cursor: pointer;

      svg {
        color: $light-gray;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 910px) {
  .searchbar {
    display: none;

    .form {
      button {
        margin: 0;
      }
    }
  }
}
