.navbar {
  color: white;
  text-align: center;

  .logo {
    flex: 1;

    img {
      width: auto;
      height: 50px;
    }
  }

  .search-tabs {
    flex: 1;
    a {
      padding-bottom: 8px;
      margin: 8px;
      color: $light;
      text-decoration: none;

      &.active {
        border-bottom: 1px solid $light;
      }
    }
  }

  .status {
    flex: 1;
    align-self: center;

    a {
      color: $light;
      position: relative;

      .notifications {
        z-index: 100;
        position: absolute;
        padding: 2px;
        font-size: 12px;
        top: -10px;
        right: 10px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $red;
      }

      svg {
        margin-right: 20px;
        font-size: 24px;
      }
    }

    .user {
      img {
        width: 36px;
        height: auto;
        border-radius: 50%;
        margin-right: 10px;
      }

      a {
        p {
          margin-right: 10px;
        }

        svg {
          font-size: 10px;
          margin-right: 0;
        }
      }
    }
  }

  .searchbar {
    display: none;
    flex: 1;
  }
}

@media (max-width: 910px) {
  .navbar {
    background-color: $light;

    .logo {
      img {
        height: auto;
        width: 100px;
        content: url('../../../assets//media/logo-mobile.png');
      }
      margin-right: 20px;
    }

    .search-tabs {
      display: none;
    }

    .status {
      flex: 1;
      align-self: center;

      display: none;
    }

    .searchbar {
      display: block;
      form {
        input {
          width: 120px;
          background-color: $light-gray;
          border: none;
        }
        button {
          right: 12px;
        }
      }
    }
  }
}
