.container {
  width: 90%;
  margin: auto;
}

.p-20 {
  padding: 20px;
}

.d-flex {
  display: flex;
}

.flex-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ai-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
