// Colors
$primary-color: #22315b;

$blue: #6767f4;
$dark-blue: #1c284b;
$light-blue: #dcdee5;
$extra-light-blue: #dbdbfc;

$green: #22a47b;
$light-green: #d3f7ec;

$red: #dd5757;
$light-red: #f7d7d7;

$yellow: #f8f1d7;
$dark-yellow: #9a8322;

$light: #fff;
$dark: #111;

$light-gray: #f4f5f9;
$gray: #c2c6d3;
$dark-gray: #666666;

// Fonts
$font-family-primary: helvetica;
